<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            background-color: #FBF4E9;
        }
        img {
            width: 400px;
            height: 300px;
            border: 5px solid #4B3869;
        }
    </style>
</head>
<body>
    <center>
        <img src="/image?id=1">
        <br>
        <br>
        <br>
        <img src="/image?id=2">
        <br>
        <br>
        <br>
        <img src="/image?id=3">
        <br>
        <br>
        <br>
        <h1><a href="/profile">Profile</a></h1>
    </center>

    <!--
        username: admin
        password: admin
    -->
</body>
</html>