<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> {{message}}</h1>
        <h2> {{admin}}</h2>
        <form action="/" method="post">
            <input type="text" name="username" placeholder="your name" required>
            <br>
            <br>
            <input type="text" name="type" placeholder="serialize type: binary or yaml" required>
            <br>
            <br>
            <button type="submit">Submit</button>
            <br>
            <br>
            <br>
            <a href="/logout">logout</a>
        </form>


    </center>


</body>
</html>