<!DOCTYPE html>
<html>
    <head>
        <title>
            SSRF Labs | 1
        </title>
        <style>
            body{
                background-color: #27272c;
            }
            
            #cform {
                text-align: center;
                width: 500px;
                margin-left: auto;
                margin-right: auto;
            }
        
            #ctitle {
	            background-color: #C490E4;
	            width: 400px;
	            border-radius: 10px;
	            padding: 10px;
	            color: white;
                font-family: mono;
            }

            button {
                padding: 10px;
                color: white;
                background-color: black;
                border: 3px solid #C490E4;
                border-radius: 10px;
                margin: 20px;
            }

            input {
                padding: 10px;
                width: 400px;
            }
        </style>
    </head>
    <body>  
        <center>
            <h1 id='ctitle'>Images Downloader</h1>
        </center>
        <div id='cform'>
            <form action='/lab1' method='POST'>
                <input type="url" name="image_url">
                <button type="submit">Submit</button>
            </form>
        </div>
        <br>
        <br>
        <center>
            <img src="{{ result }}" style="width:500px">
            <code>{{ error }}</code>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/4QBsRXhpZgAASUkqAAgAAAADADEBAgAHAAAAMgAAABICAwAC
            AAAAAgACAGmHBAABAAAAOgAAAAAAAABHb29nbGUAAAMAAJAHAAQAAAAwMjIwAqAEAAEAAADmAQAA
            A6AEAAEAAAAeAQAAAAAAAP/bAEMACwgICggHCwoJCg0MCw0RHBIRDw8RIhkaFBwpJCsqKCQnJy0y
            QDctMD0wJyc4TDk9Q0VISUgrNk9VTkZUQEdIRf/bAEMBDA0NEQ8RIRISIUUuJy5FRUVFRUVFRUVF
            RUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRUVFRf/CABEIAR4B5gMBIgACEQED
            EQH/xAAaAAACAwEBAAAAAAAAAAAAAAABAgADBAUG/8QAGQEBAQEBAQEAAAAAAAAAAAAAAAECAwQF
            /9oADAMBAAIQAxAAAAHIC3o81K2X2LrqulpqtpuVemzzevSGmagYF2rHrpoAkotpWoEQwIoSFTZU
            6bHSxAZCEEgMIRAwQMECQKYEISrqIVGKshKkkklyc3rU+D24h1FlxzfJfNaudb9r5BYTWGvpeti3
            85GF1fm9Wggc+kRglurNqoqwEovoEauQ6MFAgp7K7U1WVONFgxUhgg0BSQwMkoQmxZYLFvq0WmnT
            WZTBkxaQBIQGTQhmakaHirFT1+TRZn21n359lzka225zM1fm9WmA8+oAVNGvBupgQCm6gpVkh4hV
            lYAvots2MrgMhDIkIJJISSDFG3Doz6rGDxaHWtNNSVqsUprQ14qkEMkICCSQ8dVu5no4XXvaLfl0
            3Gl7q1z5raOHo1lTz6BWg+7FrR4sBmvzCCFZDAsIGA1tsrdDBEJViEQMrrNEotGIbcltVlzdDGqa
            rakgMZUyF6XLndckgwEIgJJDyObXk9HA6M1+Lpv5p1OucVkrUE8O+hkeaUQFmzHsGkAue/OKUYKk
            EigdlettlVrMkgxUpOXq4k2+kPjoWXVB6PBv68urdXZ053lY1XmvpSWpYgptqNbo+blV0lMMBDBY
            YePc1+jzNcz+f01mw52hZQFSXyQAYFmzFsGEgmfRTFAMDJAQkllbWbnqsowQMUnCrqfPTRow9TF5
            nTzbls5HbxWa9vI6vfheEXUDV2RfXbUZpImtRXmmAywiBghJIeaFid+Eauef1WxWhQYIwhqikClR
            9mPUWBRBpsqKysplYRAJTOlqa7K7KgaIsaL5+6yrn0x2JqVepx9C9zMUyu6fK7PfklOqnfPKQEvr
            VSFGNS2DFqkCmCBAhJIcDPatiRpjoSISBRghNcDADKNpyaRwFg1skqyEgK6kIAz1Om+ym2milCJF
            w8/p8nG81otaNmhI2NBi2dbk7fRx20rVvCqAjAAZ1smrZWcpJCAggMBDDzEVpuEQMMhI8Ky0ND1k
            KMg99FxAIFYmaYhHWJYRDTWVWJssqspoCjKV1MnM63Pzcd2arPTqLz+rG9s8576ZzafTwVWlixxF
            YeI7K000BQwQMBJIAwQ8uYJswGGdGDBCAKaYrAEQe7NeNFkLU9ErvTaMsWxikp3rsTbbQtadGPRv
            nYumaYcvQEclehXm0Y+xVz6U45387o05Z15XGi3U0ysxF2VRQYJXKkMEsMADBAxYeahOOixoCEJG
            s6GpzJ2Sco78AlbJKbs7lsqYlF1At+a+VxJYYINbSya1GjpnRc19zi02YFvsquKguxMaWwx9jJrz
            pqLxZy7dmWjTqxHRNaxfmueXKb8srjMDVMxNMzwvlEOGxGNQSEVxpd0+Z0bnSVayrndLDLkreuUM
            lsLYrgz6c60aM+iVlK2ErJHMNX68U6Z7tvmrcb9FXi0WY99b7xXrx6iZt2YmnNqip1g6mFOXoVlK
            VGzQKCarsOKa1cTanPpUyRGalqvlUTKqCVwsLLa7h+hz+hrOiyqy5THsyLz67a86F1NxA6hosqms
            9+e+GkNzCrUXSBohmrrs55dNVmS2NevnW9MbnyN159XM81mjZh2pWGrld6KzZK0XmGvnp1BjbGnL
            28useGVed0MupnAPTEkhllsiqXqC5CP0OZ0dZ02U22DNqyxz6rKpVuqtVzGKadWSXPfn0DESwyEJ
            DFOXRhs1Pjbn16Dc0R2L+LfZ1n57y9TZwba6mvi6enLolKrLsl6FYw55bqZq5dUeU41pGGs3Vcs7
            xsFtG8wg0YIVgMl9ehEzCylX6HM32bL8umxs2pDk09OrNw3aXMp1EyZepmXl362KLZOTKdfN2vbp
            UZcg9nmamft4uvzvJyLOmevi3441W8Xurwb39Lx6+Y6+EajjD0aDmldlWSzOdVdeHW9Gak7lhQ6y
            hMs7OXN1bjmQtN1x4PvydO5WXSzLi7Ajh39JayaiUKWAoDKpIYJMkCWJa4ayOXvz87je5kq5eL6X
            HyNUvZ8z17DXXwWs6HLedXoB5rs8NYdvGv7b9BOfwOT2E8jQerHC3M79WXl5d+ca0s5PU53qxnLN
            SxiJHinucToJgZCsghp6XL6FxoalrLmqJbKyPEg6BSquItllLlxQoabMi32YrQcrZizUcSV4HtnG
            6/KuehryiHyrTO9zUrLbt5+6Onxd+PcGg1zeanqWzfJ6apM7cNmaM9pGrffQbm6XNeWcNbM06KgV
            glElkH34N282MhSwoSxkYaKwEasz1ysuspsLWrcHP2c6LbKStNIErFTDMoEx3pqaczjPamvQUqmm
            or20WzcFZs0Ghgmpp6bNOBmOllrrvPTShm5ZXbV2nl2XGxKTmtbRLENcvC2JD//EACwQAAIBAwME
            AgICAgMBAAAAAAECAAMREgQQIBMhMDEiQRQyM0AFIyQ0QlD/2gAIAQEAAQUCt2URgBBF+Uw7fqNh
            xXieVtlg/uVPmHpzozofIUjezAAG1jfp5CmmMzjfKYnZYOC8T4Fi/wBS3g7CEKT8YzdriGsQRVOH
            WM65gqmLYhBeVXtLdhBwWDgfAIP6YEtCPD2naWjWMDfGwna1gFSneD4riXY+hxWDg3gEH9C242O9
            vCwtEh9ggQ3LdwrM0V7KGvBxWDgYeYg867W2GxMMEHpvAe87iXvKaCxFjTMre1pAq1PGCDgsHAw8
            1MXzru0vLwnYT6PgPaFoFJi5LM5TNyVlMyo0EHBeLS/MRfODLy8PET68D2t9obL+w6ZEpm5AFj8Y
            0XivE+ARfXMuqzrJBWQy4PAS0tDyEI8DDuwtAYGgqRbTqzPKPBBwWDgfAsHOtqSGsTFUS0taJX7+
            9l3bcQ7LDDzqe2vFlpjBeJCdxwWDgdr8hF5ah8KSCDbMQC8qL8qFcrPcG7cCZ9rDG5kwdwF72mMx
            8KwcD4BBy1L5Vu8VrRv0FQlqdSFbxuz0Guol5fYS0MOwhPgKd/RXuPGsHA7jiIvJ/wCXC8Ve6gFQ
            iXQS0q07zTfFuC7NDsPXgWNYwduY4rBwPgEXlUX/AJP0xOXZj6lJriMfknepaWhGwl4TsIPXgytM
            r7jxCDgfAIvLUJap/wCVGU6dozCadpee5RXFtmh2vuIsPgf1uOIg4CDyCLy1X6ewb5dFY1IFaK2c
            T6075QHYmHkDL+Bu58Ag4CDyCLy1PegIfYiGKbVo36UKZpoDMoT/AEby/gXgPKIvEtaVnvTWfYmQ
            ET51L9xt6/8AgDyiDhjMY4742NRGU5ETImUB01WVXCUx+ncS9+Nv7Y8gi7DvuIy3L07gC8NBDDpx
            jkcgQq2OprUK61Kn6MRYqZYGYGWP9O8vLy8HgO45CDsOqogrKQtVZ2IA2YRkvMbm0qU8w3eUdNhQ
            TSfJqlRZTqXn6s3aK/c/rhD2/pWMwnTmNuN5fc7DkJ9YCKoAwBmJQowaN2dv1SFZa4KynRvqWn06
            xqcU3BvYRe6g2B+QKkf0FipOnMBGWN28B2HOmby0EAjStelHYOv/AJ9E9x6Lyh7O+MZbRfmo9p+h
            7sTAYUvGus6k6kzmczmcz50/a7tG8B2HOif9Q9gG1jLwqGWnTNKl9RPTrcexRW21++xF4vZqq4VF
            ONOmZlMoIJXoAjKBplMplL8Ly+yRYNjH5mNsOdH+J69iGYwMwNPVTqDKr7+omzi8pe+VRckvcepe
            ZTKNqGYi8allMbcby8vLwbJFg3qQ7jg2w5CU2tRWDhkYHvsG7xovZjPe15feo2M6gIvMhHfMKsAm
            MKXDDE812WCDd4dxwbYcwf8ASsLWmcyl4Gl4GmXdDcNPv6tteXim4drSqbMG6b5XlrwLLT1Mp1JV
            +XgGywQbvDuODbDnRF6AJ2G4O15lEqFT1EbZP19bFbxhaI1jU9sbzpgzHfKZRqqrOoDzx4LFg3eH
            cbmNsOX1SNtPcwNOpadUzqmCtBWgqXmcDzOCpaJq0AyBHVRT1UjutjVuzVWqRb7XAhqQ1JnGqsYl
            C8TTDmPR3WKYDu0ba0HBxLGWlBBU1OqVU1W2Qv8AVO2BIEU5sugVBqKtEwYMddTpUmXoxGozSUUe
            AzuBl362j6ye/sG8+tMtQCrSdKtrQmM8udsVnTEx76Uq61VxfgFir2KwqdhFiwbsk6c6cwmEwmEZ
            IKUKWmn/AO5q/wDuafTrXQOJSRaug09FDT1GmpPp9FSGorlPxdY60v8AIU2pFGVbN/k+9TSacVqz
            UilbQG6afT9WolelUp62j0TR0y1dIahxr0Fo09PQFcIWMtUuiPW1JVqdWoxyvL732U2lYZU90W8W
            lOnOnDSjUZ0yIFginY+C0Cxknanqai6SqyfjUF0507aWn+NQGnrUamnZadPRaC/5tenpndE0lNtc
            9N2bsKn41aU10tIuytW0VSmkpfjUov4yI34zUk/Gpp0NFNXUp9HQfygaZKv/ABurfTdUsKmpqfyc
            hKJy0m9GLwtMZjMJjLTGEeAHaqLhKS1a/wCBSuLEYiUEpVZXrJUCnTaNFbrHETG09QYs/wCBS6rj
            p1KABq68AU52Jb9tJTSrW6NFdS1elp6XTFkRVhrUlPXpR+786J/1b0oPG3MmAy8qGN3mI3PrSfxz
            TfpGqWl77GZdtK3+7V/NyLRMWY0kIakwmLRb3DdlbtqGDzEmBTj3mBEKkHa21Le0pwcr8TzYwGXj
            ngJ9abtTCljRFkLkS8v3vPe2k/l1ffVLRLRUGN5lMzCCZZ0PXUOzfK5MsxnRqW7lejUYWprLgt02
            Gy8KcHjPImMe4l4zcT+tD+BDZjbFjcmXmBl59aT+bUtlWRsZexfe8o1LPZWf43womdK0xMX4xahB
            9MQULM5l4oK1PvanB4jG2HBvTRYfR4n1g0Cd7GYTpwUbHEidKYSn/rcrdsZfEBuwG4bvmcy1zeZT
            OZ3nuAsoV2tkZedY3O//xAAiEQACAgIBBQEBAQAAAAAAAAAAAQIREBJAAyAhMDFBE1D/2gAIAQMB
            AT8Bdl4tkfnHj9IvwbG/b0/nItls2fb0/nLXZDlo1KFBkVS9qWXH1ojwFlj9UFwY9kvVFcFdj5Vi
            Ztj850WN/wCevT9NDX1IrhRy0ONd+oo1h8FSNkbG5Zqa4oSNcuVG18GhYaIl58Ys2Lx+8K86eLFG
            zXlJWyqLTG/AnRHyPpGlCNUOKKTK4SIE2RwhPyf0JdSyMiy0NoTRJZ//xAAkEQACAgIBAwUBAQAA
            AAAAAAAAAQIREkAQITAxAxMgQWFCIv/aAAgBAgEBPwFFFFD8678FtMUpFv4z87GKMEYR+M/O/PbZ
            ZZmN33W+Yvtseg+UR7UnWi+bIdqTvRfP2R2sRxK4+xbK5ocRR2V261czIXZZelLlSoUr+eQ3fC0W
            jExMChSM74szQ5cxjZjXe/oTMxTVEpH8kJ/5s9R9OhKWJ0avn7F1MStCcb6ihZ7fQjaVHtOvIo1G
            hwoq1Q/R/T2P0wpmNuxel+iVKtWuzWu9D//EADQQAAEDAQUGBQMDBQEAAAAAAAEAAhEhAxASIDEy
            QVBRYXETIjBAQiOBkVJyoQRgYpKxwf/aAAgBAQAGPwKVMx2UBVyTxGFh5hCgMc0TrKrxqYuoL5zR
            xeM0qP72pdHHZ43PAKlarVUPu5HvsNn+VJN8iih/F6anPhcp4rG4KiqpXlEqHDCeMFVNOV0GFShF
            9FBHs68CddRSRVSMgPPiuLnf5rRrVtA9lF/PioN0TF1Aovru4qcvS4wq68VIjKIurxfDpyvopOtz
            irN3OnF4dW76YqoIUlR8d6NjHlAosJ03Hh+qpdIySpun5KAo3nVFwMHcsNo0PHNYXiirpkpwzy/h
            Tv5LvdGQO3a5YcoN9eETl8UafJNcMzs1dyPe4N3C+lOCtykbioP6slFBRzz+pE5ps9rlwNqws/Kq
            SpDivqflAtOqHf1gMldFDaBVU71B4Cek5h09Y9Kqb8I0yxwB3f1qZYQdu3ot3ehPALXt6evowq5t
            eBWvUepQqXERzUgqJW0FtLDZtL3cgv8AzPRba2v493ZsdUGU4NECBpfF0EwuaDQJJWL+oeAOiFnY
            jyb+qAjUqyAaAKr4qG4T0CtXPbJDt904XRzhAuqzepjdruRijDoEbzbtAOL471itIPicsuq1VHLb
            WF1He7svun/ZWhcajQLWqcwDzN/6jb2+yNAvGsBhhYbQ0XlE4TKlph4Ra6jhuTTO9WXYrDaGkTCe
            G/EwrbFqgDRsYijh2Qg+z2HJ9odv/igKzewnzap+MmmiDQMT+SNgJ12AhZ27zSifZjQFRnnksXL3
            VkTQTqsTnif3J2B4r1QbaEI4HivVeFaGFaeHs4SmL6ph3eFLHif3KzwEE74UoY3in+SxMeAf3K1M
            0Lla43gaI4Xtr1RY14g61Qsy9uEdUWNeMJ6raH+yYxjgYKtOwXiYxi7rxcYx914uNuPurRzTIpVH
            0HDp7qqFnOEK0+pp/HdaBaL61rhj4IWNmcNkNXQi5r8bk60cKuK0H4VFVBtBPyKDce7Z3pzA7EBv
            VQmUGq0QpcGWhhGz8fCF4dgZcUFshQWtB7KhhEj0HjgFp2yU1vnFexg3NVVVa4eipXstDkH6roQV
            YqoOV3ALXtd1XmzfZATuCJmgXl1v1VCgXNkLSioMkb0C6i85JXkBhbNxr78q17XBw3Kb63/ZPNwc
            FiyRuKLXfYqHfwqF4Xlequu1WIVaV5d62lVQeXvyFQi/VarVGuq1ulT1uhEZcWXZAuiVE3jpk//E
            ACkQAAICAgICAQQBBQEAAAAAAAABEBEhMSBBUWFxMIGRobFAwdHw8eH/2gAIAQEAAT8huw6TMENA
            9aC/YMKTkzCDc64VxuEPia8aKhfWXFuhH8lMRfng/Jf7E8P8l9Dsf8sdW3l/lmIhluIQskqh0KkP
            mFFljyhxZY2TT+jS+hWGf6ULwaazQjti7f4K04A7tCpGkzdOMnAZW4TlpLinNFlwuTX+gUVxmuVF
            ChXxJzErGSId8Sj8wCi4Fy0liRZc6E/p65JRpiRqKLEINV9BjmQ7cMdITSoybhsjlf6SQxR0+ooQ
            hQy1QxcTSm+hcoWoy0atqxk6onRiwxlx1ljwYnNSafUUJjYixuObCYcQuelmsGJL2NBbbDfsZmNC
            xzWpY0qhCnp9ZT2H47QcrixMpLIWAmgwguY9wWpqK1LjRUVNj8RcNQqYFaoxChRQrNFC2Lj6XrEF
            ehXZnBUY22EUdZsY1l8KGyyy5VyeOrYWem4nxE/dCaKyVS1CCkxCCncVN+dgrCFaGxUe54RtsQ8O
            WsuN1yJCmnJ7vQRQvccoWmxVB9qjK0qQcTLGhI0LlY252sVSKgqFFQhcWg4cXCmhR142NffIK/qi
            wrFaMdV3bM39iCircLVBFluxYLBD4+j1i3EK4MsQuDGkvjNilzQXBGt7M9u8EPOE77BijrMZhwRZ
            wFbHEJQ4YsY2FA4XK+0FaYCxDLnYU3B8RY2OXLi56ckL5TsJWGBbDdl0bFoZaZT8CngAlnMaY4IG
            s/Q9QwuG4MTEWOesXyuVHQXFixbyGM6ViS+g8levmMPywsSkwxSvYXJNxsaRfNEFwXFl8jc0mxuU
            Pg5oLiv3RsEoRrGdd/J2QGOhumH1g2+cRSh/QtzLLGya8GyNgbLLG+Diy46QuCSM+hJQCqbLPsUK
            AVSWyyyxC+lcl8aEaQ5ply4uLLhQ04oGWuVsfZdh0IFvfDsxRehasaYsuypQvqVKGoooSFovnY2X
            LFCHioWSxSzWGvadoGoleWo3Y1m6wfbFnBXZFRRQgvpouVFFStcE+BsbLEWNiLLHyaQv2iVIdi2z
            MHzUANFgRwP7jrJqICQf8gq3mHZ8m/4DgT2LUdD8w1dSvrJlzvi2LYmXJsTGLiyxCDoHsBUDDScJ
            VXs7r3DhIYlvsYIxbT9jMirukIwCYygPwY+/oGU0rZplg5IOHfPYR7oUL6yTEVywmFjGLYoLG4pj
            llynHaFnQoKihTpiHMCx2GT6WZoZXHSewyCeoZHT2JUEM8CF9EInYWmPBsPAVf0IK2IoSRLoS0OL
            LFNcahOhl+lYEzYqfQrwJ5LK1sDzn0bQQJmjxoXIdYpMaD2sXBtoPg8DcNQ+wywoAu9Y8jUoV4Ch
            QkNRQ1IUKLkY+CHFRZYuD38ZqiF8patDE6KZaqyniPc/Pkkd2Mw9eGueF6/lCGBt7GomGfbHwNmL
            9pdMeXLiYTxZcKGINFxQY4UKRbNS+COoVhs7G8X3Fr8iM1l6GEjTUxsHm0tITZofL3DS4eC68rKF
            4gYFIKltsB6BdxdC2IOEXy7RtBxjlYoUdj1Ds04o6HzRBiIVCrosdnYWghyG0djEhciVw2UK9/wE
            htszgYErkLqoY5pvkrj3M+Blw7NBRZcWfnH8joSwlEFESDkUlnQTwH3GRh0cxHkpge2FoTv6E+wo
            QwKIajqncTiooqFjY1m53JFDVQ740IoTb6evyIbhBFxpqhVKM9SPVP2NDWNjDEBrQj7memjBa6Ei
            6KFSGqHlk3Q643ibKKhQhsbI+BhcNyXBWzWE04oUF2PAvyUdOhq2meoZK8eO9RqJW2e0RYFB9AvA
            6YNGQLDO6ByWRr+QTZeP0EYSSGRZYM4FjZf6CGXZh7fBsTMgg2WNkxRJwojsaLCS4lcJ6EQ7RfYS
            HViQUfIF5Ds2wjGRd0vk9E5/yMda5w36EobAn+Skn7FSyEKQxhUayrwVGItV7PxFKR2Yp7R0bpgF
            Wy9nfRawCg8BOk+4XmzYg76Px/6JSuJlV7oYO55BCcXxz6clhwyxgwOgNOOvBaLIL0FxyujY/N/A
            /UD7Gf8AyjiS9JXzuuB5PmwHQ2uYXS7HvwqifhnzmUsC3R6cf5FdYGx2vySiLOg/yz+w5j/Rxht5
            7Qj/AB7Yz5vOkbTTQ360d92sG/NpF1jZb6219mxbIfH/ACOBXfD0eI3W+mItaCFlwsvpNtY311zi
            IgSFC4YJwcjGCxhsssTLlqxQhoVrqzl8DW1B6j9tzd1ttNj1J7F1Sy08REi4P+4LSmmirljtd3wF
            Eey/kV9jSkPm4pQHI00OKA+xb0ynvgrYis0QtOfZHbtamqZ0vd8j4ibts3A1lUIa0SfAv5SipoUP
            sAZbLZY2hi5ajUrBQsUQhJFIqG4rEMomPMn7X6QtL8SXYM/6xeF+DXDeCv2Y8BrskLyN/JSBccIS
            dA6QOh59UaPDuQISDOAs0P7Ffr+BhdBvCEbsFRl/PoeMjrH6sq67a/ls3VM0H4RrMCwUDvBNlCRR
            RRQkV+lFlwcTExMvjY2MWITlzaOBn/Y+T3nfzNHkfvx7Zs+RiMQbtlxZNI9+eymCSLs/DFde3F/A
            TAY9F+zeWRr+wVbBF9BqOAqGXgwzqG7CwS0h0/gUUIooqFGieiipXExMssuFlljY4mJiYnDfF+3w
            PYa0HOhL2nsXC2O5gHiWw1jAn7jrItHnFnbHYsvYm8icqhg/ihcoyKa+8CLj0kIHjJfcdS1oOxAr
            5T0Y75I7TRS9DoRfCsssT5McTExMTipQnHOUIb8EM1gybLZFsw2B3VULMKVSEMWFaeaQ2q67H1l2
            KtNMTLLeR1wEk2bJrGPAZUf/AIx5oRaCe2zFSEAztgds+xb/ACK2btY3kWWdZKFxcWFBCk2lPmFP
            4wS7SSZ6Q9V4RcNxROQB8x33sF5bsfIu3YYncqCn5KHJB1KIzaVCcuXXQ1p+IN9G0h4TEstUD8UV
            Yg1v5FH/2gAMAwEAAgADAAAAEIrZwSF/1Lyj020m5z3/APP+xfqJuuUyHxDEgXQZtII6NL8f4645
            v8FXtR3fNcw7wALAhs7875aoZLLa7+//ADo8qTS2izXfPw0Pa0q67uuueSQ2PLj/AM7utmr/AOht
            tfPTchRu7raooJq5Bvc+RT6rP9rvOzdev+W+HEZ6IILq57Lc4LpiOdwQRZf9Rm8vOKDOnpKKB6Lx
            pKu5PJO1D9zdII6sWsvMF7ON54LyIYaAJNot75g/lYNL7j739/NCf6E94YJwtq0bv58C+YH4JyRJ
            hlPtf+dq598IJaLPOx6OjvWbF7gpTQ/aY8fv/L6tDao4rKGlwafgPWsv/wDH1RHnGR1BxCL1Aw4f
            f7hhEfmsmERNIX/3Xt6sli6PeCmYh52eru/6Ikig+84ZlvHScN+fSPPzKOwAmbmvv9hJYNEOcUKp
            T/zSbhOJTzAfgcEUGL7kYukFsmNYfegDjviiQqD7zE4a0l9IMHN6hZaacwvYw8+v/wASSwmqgxRd
            TfWbLBQAH8yBkiJY2FdYKHbLHvn/AICVWgiFXDldTnuYnP21NgPQkLUmXr2Y/wD/xAAdEQEBAQEB
            AQADAQAAAAAAAAABABEQICEwMUFA/9oACAEDAQE/EELULfaW9PDw/h3z9QzBM1LvFZclv+BsvDm2
            8A7BJJJrDPQ6+22+W22x5OzME9PGQeHzjYzwJ4R6qZcr8TPjaAJB5nx42cPLv05+vzws4ONsdPOr
            BhH+BsOwRNk5rw85/hzj6cG36tlrPPsFn4XwdfC5PGYt2fkbNss+/iPJxnwtnB7zzfxNuWw+DyvM
            ksv1bs9IbTmWWWtvH0J62KiuJiY9Db5LLPLw6RM9HdZIx3+QbG+HIenh4J8ZNtJLEBnc5stWrkZs
            7zusNs8Ittht5lmzlhkmtu4QyKut8IZv2+Zqni50vNt6Twv7DbDOLvI62Rms+kokyDZEsT6+E2OP
            onhf2Dx8CBWGGLPPeNt9JdMvFv4JRBsmcbLLPGWRHXjJasslEsNnDJGMy+kiz/l++E/4kead/8QA
            HhEBAQEBAQACAwEAAAAAAAAAAQARECAhMDFAQVH/2gAIAQIBAT8QA2epzo+4sss68WS8srmEZZEc
            /QZBBxk6rP8Any/sQ2z30fpIszy+WGOfn9J52IPT64IMgtf0njCVYU975E/0S2yltnh84Jd+nfe9
            gkyY9I6z51+3wejDnH+L4ltpaS+n6Hp4DY4mZkfPFbbf0jobC2ZmxpyPjmScPoCzPLzOmy2OZtmP
            M6zMtttt6RxPDw4W4bNNcMMxbw48vnDvo4+HhZ4E8CEnMslycyzZ+SOPnIO6EwupZKRel8ZC1l2N
            ZfHCSyO5ZZZZa/GNUvhuzm2+I4W5osNJXcWGLWEuYbDrliJWH5EUzbHz05kec4lu+WWRxdnC1dgt
            fKx8dglq/HVySc/1VrM1GRVcltpC0fyjKb0c6fW8JjbtnE2TIZNjEMSZx6fSvF4MsoJ5vMgkiy2Y
            7//EACQQAQEBAAICAgMAAwEBAAAAAAEAERAhMUFRYSBxgTCRscHx/9oACAEBAAE/EBtN2guJqxxM
            T9Nh3h4L4gR+IPuZa5wnyhzLzANbsX5Z9l6OCWXTJ9FssxIA8LqWWbwOrDDrBZwHJnLbbYbe+dh4
            23gfhgXN/mxHwQu/vZaa6dd4Zuzz0vvH6mdAs9SZE+N2AQtx+/YMMLbd8we23lC951D03xDrncjv
            qPcu7sSS2y7OOzHhMl0JGxw6SVdfwLbbf8TBI2skSIYbeECrL5BV3XRPB+T57PmXYG7GsbBdQ3xl
            pem/VSLZAPXDgZxhbWWrvh9OiLLckM8LeGxnWeCyDbpJ4dI3ZtlX1t6tthttth4yDnOSR2jyznif
            hcHKFi29F4ujhNd9yYMk1y6ndv3yzwjl64NyV/TY/JEe+N4Z+FYWsiQ7wmTYOF58D/GOXW1kl6k2
            PEOnbqyneJtv4vFQiOG9EF8sDeo+Pqw9oT5whPlnHjhS2LbsTwx5H4HnxHEsg/HbbZcDuHLPxBCo
            LIXmLuvOzC2G38cg6zSxQlFZsQYjQPCkR0bDppJG0DgpmtLobeXfweSQ8OoEeBabLP8AEobsgumS
            ICMM9Z1l4sRaLD8yfE6i89wO7vQuTvHu+InA0r56zJTKXUJq48yfXjZ9WC22e4i5KxIZBLwW8bbD
            +Z4jhhGjh1be7WeYgd/I8Fz7vUfMLL075leismYTjBGPuU9uWcj62SS64nAHAwh7nBNt4v8AARxn
            4ZM9745+zI7aR3DjS6p62dvfGmWXWa1Bnq3jbbbZ3uxjahr1KDfV4rkWgN4d26miOm3vDkvDBOTZ
            dXnFnXIODwl3eJeHBzljNvSHFT8rCOywvjYSgxsg4AqI+GTG6rAS9cwhyEOA6IUjlPyXj+eBRcSC
            OWLSe4LHO/PJb5pj3YFpnDe4ajxvHhx7oKW7JbD3bWCS6w8DDbhP6x67fO/a/LLQMj9MFE9/Ucjs
            +ZSF0mxVNtk9MQQZIyFsdlhyaSiHYuiDLtQ5yzjfsA2Ku+YSw90g8G8roWzZx6Hl4RhHUps2/fh3
            S8UNttt4ceWzmULtk7Tdo4HdkjEV79D51/qCUfVqK+YWHep5wdEtJYGWV53mRl1l1/DbeG6oC0by
            M4BYcLq8p9nJ47Cem22XPLyuzhtvGt5ttlIWdu4TjjpuEolaHgWQtqYKG2wvULw6aJGvJndXPEmB
            +zgNDqT3bjwAgZ3z4PP8m2zfkXgOWMcsy3grjHbxcU6tmLs4OzwNtidPA1tzgeI43j4yzgL+gCwg
            ajm5nzaqiMFXr9Zdm98D7tiaNhh284smOgsUjLC8+Prby2fdsLL8O2222N+t6xat4lngF3E/xq62
            zF4MLyYGXV5Xg/J6mCA7PUHb/RbwEDN09PqDiennaK/DP561ZTbrLwvKHkbxZae+G2228gBhtrOD
            eTeDF2XhxlnK7LPIDgcYhIu4l+Ml+oXcX1ZTHRYJHX73YQcnWTbk4zpPgNY5YXhjkM+4bZYI5kxW
            1vGT+HebYWFhFtsx4XsbLbfx5D+A3Ja3g3eArez6w8Nhtv1lGa5kdW2L2+rBhm/q7B5OF0WeXYhj
            XkPthPOp1PSdtI5B4D+DPGWXn+IbuR4HslXgsNbAyZtspi7IJcbxBpLKNtsMHq7Ljxhq7M/ClltY
            OakJ0y9cNX69hPBSHFSEzoN52X8wuHJl3xGLYbfyDhnAsIOLOyPWJsl0YdJ4XC0eF1wC8rsvE5FX
            Q3Zkkbro0bVE1VPY+m7gJMOmkdcd2iGBM6pCcbDMUPQ+gIWeFcvSx+SMwDMeII/LeNt5N5psb45B
            3Li2lgy6ll4+3h4/gBwdGfXhE+jZ5dHUtsAI806vTYMsb7t+RGsB9M00usjLmvAour4EeLrKsSVy
            Nf8AqeiXUO5wdAKBhdWFnCht/HbbZOdziBYLHALZaWSynciYM7tu26uCd3Th2g0tyts73qD8Ywsh
            ZoRJL6p5/BlmbkOH0nefMPSCGahd8OGZf62ftuZn3Fs+45LDsBafTjBhdbGs9wXVT+AwwxzYcQSH
            SZ3YtPLcnsYlHDbbbeNt4yyyJXJEq1jf3+EinnOZziV33RMOAWE9SwA2jszWx1dOi/Vtm583RtVQ
            nG8jE+MA/cB+eS6Wek6/cx3mJdMKx1YnG7DLADjDIAunQSUV/VlgLv4+n5mXf3fIRoP3KgZ4KdHj
            Tqa7Oo523nOMg5yY2SzpxcojySVeQst2skb3lLrhLeBeddAPVCIWXuOiD6MWGet8nq1arBfXzJ2I
            mLnyaaPhiMT1eu4ZQ9Jo23s9F8vzLjnxJO7A5YMW0lG3PaE1H7kc+Bf3YZOrQxuzQoVXT6cPeEgw
            bN9kduQzkDBLo/U+rbQY6DOQdQdw6h1G84dcHgG3qIIfSJr+z1IHg/cfwH1G3YsfiSXXHK2sfADz
            l0tR8oTwdAka1h1vxO72/Db9wjAI4ktMevf4tfiHcbtt8ay/Bksyw2GOzmh+dTfOxFGScBwPH5nC
            xYsxC4kaXQT4DbNZ5sr3HSTJ8D0yqrw2F4ZrnofTJ1UuV3q/2o4BPhXi+fQwjlgRpvYP0R4T5tBJ
            0lA4yBsfuLhniGNbuw1J2NkfuPstA9d/bMBu7G/HiE4HYswLphkxun9sCnrEL6DCyWcUyZjqS8PD
            eH4R5PJ5x6mHVQ8Zysgg4PueA+ARXPKx77Z+eIjF42uasquNhVjZCb7BHDOHjp6sB7xtSEQGcB2s
            jzuePavMINeRa7PRebHAseZQywR06J0u3pir7LdttcZZBDxw8p9HDeA83mwh7n1wcNjrxHK+JYhN
            usX0P+qme3iqy3C395xPvtZYviM87jDjaJ9WxC68QnSSdTw2TD3dbboUj3bX0jb/ADrdpvzCCL0X
            yPcEidR/q9PBm2rOQLLI8bOvrKHeHjeUre7WcHpwn1x8LeGUNsY3ydi+K5nVh3y7EZ1N8QhO5Jhy
            TPd098wNHbkM+ndnbKlet6sHfcFxPoPuy2TE0npry3GEWAP4RQHd4Lza7d0p7PmZci7EKQrrBWxk
            kfEwhC6dqeJdTeDxUHceoQR6tG8Ap34tXEcccfwHy/UV71yPexJgZ8F1OT5t4N2pwsV3Yi6jemRh
            62Vxge28eFGNDUC2Og+4+vWdrUDe8xGWtaGzLW6toKp+Ae0B6yp0xR6bILN1joU/gzBu9k245fl/
            mAHw+dC+HIth4e050gzxoZ74diZkYT6limyBghJ3l6GIerUmvs5AHzlFbhYHv3zx0Obi/MnyfJdC
            k3wu3ZCj9JaFAn8q+dnXNN2uZ9MP37GYjZx0aLxcfTenAowq6I0qx54C/wAIP93Gp+8Ka5cZvqeC
            +3XIGK1pdvu3UJPZ9H/CywnjwH4sX0z04fX/AOQfS7SuQd4zHqx/5+z5P+lnXZc97Z6YF77Z0QnJ
            6Xpy7Luds9M1Or/SS/BGi71b2RngOrIUYFYYOBjOCIFiVkv7tWs6p+L4vZXkdAv3C4evubYhbKy0
            8Jc9ozZxL5J6MMN4uiPZ/wAk+Rg2znSwc65TSoiIOGJjX2xqmxK/N3VnhvHOM6+PjYn4vSr7LoM9
            Pw1i/sdvDeysvj+0sSvQFqvv62dMdHkf4MfnNB3t9sLQnAerT5bCPwx9/kHdhp0DfptgOB53ghJW
            ANsbwiAOrSuiSlkS2rXCTbNlbFmcRJfO321jz+Kblnd3jjtZPxzpbg2t60gzYv7u1UWHs+GwqN5D
            SXCYPv6E3rvhXfahtGmV2x2l3vzJ7d89JmrlH/C9125aF4rl/wBi+3o4T39nlf8Aea5H9pUkIDo5
            woQoWcAxzImu0dYObGErhDlnLSMZPkk8WPiQhWxFxA8IjEli8KWPRfhn/bVfHbSQ6v7/AHmke2NP
            DjmN9NoP+e6VSxQN1vocfP4Jm72w3PWF/wDLyTgb5wC09GfDKiIoGGTb27rNyywmFlJh7g2/rxVy
            1X9SK/XLwAAMKH/vuP3dnf35g+c884a/a2S/3BiRjyXwFbuBYXG4JdOA/DuifXTbvHMsyxPwQJtv
            GkzrtbtLiHhdQnB0xNEfsdEDiJ7GPZ5Cd9aGYZapBWRM9m2D6hjhZ7npfHA6w85nZB60Bhn4OtuD
            4G6moe8kIzjT4BNK3aEtglya7gP0/btuPLSFXjr2oxDDJiPr3BuG5PeYE4NKwcMa99yW5nSvc2df
            Y+m1Dcd8bPK8Z7m+5duV0HIFKczUzou9/FA3qyLJ4DpbiWzbyJ/Nj+GUY9c1t9e3VowX8epAIP7O
            BfDaUEAuWO+9oH0R6VkYRuftZas+x5bGwM7akrur8MwrQdOknjBgZvOpelJN4pwPP9lt/wBpn3Fg
            AdbHczO4ayvp20snqoNKfM5jJ7rrBm7JIml4k+ohDiDDDbbLq738UjerTu5O2BaLbwzhinw/+TPJ
            MDfK4yTA/R7WTN62DgMnd9RxDMIFjdp/YRB7mf0ECDvzXszZ0vLapLOSNeqWfdxLfeU+w+mfoRJ2
            zojP5yjJ2Z+3Epi431eXo/MMPPS6f6YY4Pb5yYOLaWB0h6eEOA+ljHpsPRLD9jHH48B44HAiOPC8
            JtZ/4Fd5EX+Lt6TicAHExs97GBnvoZK1/r/qbHrvxBep131aKIL43cRLupL7okAfuMcSc9l1TfzI
            h8wx7fGtqBHxAs4N2GPR1u9pttPq2zpqbu18wQajYvQQOQiQn1wBKB64bf/Z
            " id="hint" hidden>
            <div>
                <button onclick="document.getElementById('hint').removeAttribute('hidden')">Hint</button>
            </div>
        </center>
        <!--No Flags, Just Exploit The Vulnerability, Good Luck-->
    </body>
</html>